.SelectWrapper,
.InputWrapper {
  display: inline-block;
}

.SelectWrapper {
  font-weight: bold;
  width: 150px;
}

.InputWrapper {
  position: relative;
  width: 150px;
}

.InputWrapper input {
  position: absolute;
  height: 22px;
  border-radius: 2px;
  top: -26px;
  border: 1px solid #ccc;
  padding: 1px 10px;
}
